[2018-10-16 05:47] Aisuko opened #3 "Could not find a version that satisfies the requirement tox-conda"
Hi, I was faced some issue with install tox-conda, I would share my logs below, please help me:

[code]

So, I tried to use `pip`,

[code]

Here is the enviroment.yml

[code]

Conda version

[code]

[2018-12-10 16:54] drdavella opened #4 "Request for collaboration"
I have developed an independent implementation of [tox-conda](https://github.com/drdavella/tox-conda). It has been released on [pypi](https://pypi.org/project/tox-conda/) and is currently being used in production by [sunpy](https://sunpy.org/) and [asdf](https://github.com/spacetelescope/asdf). It is under consideration for adoption by [astropy](http://www.astropy.org/) as well.

I am hoping that

[2018-12-21 16:59] obestwalter commented on #4
Hi @drdavella, oh great! Did you have a look already at the WIP implementation here? The main aim is to have some maintained and pip installable version of tox-conda. If your implementation is already working in production, that might be the one then that we should take into tox-dev (or merge the code here).

I'll be at the 35c3 after christmas and one of the things I wanted to sound out is how to

[2018-12-21 18:51] drdavella commented on #4
@obestwalter yes I did see the WIP implementation and even left some review comments a few months ago, but it seems like there hasn't been any activity there at all for quite some time.

[2018-12-22 18:33] obestwalter commented on #3
Hi, this plugin is still WIP and not published on PyPI. Since your report though somebody else published a plugin with that name and got in touch recently to collaborate, so try out if this does what you want: https://github.com/drdavella/tox-conda

[2018-12-26 07:36] Aisuko commented on #3
@obestwalter Thank you and I have used `virtualenv` to deal with this.

[2018-12-26 23:03] obestwalter commented on #4
Yes, sadly none of the tox devs seems to be using conda (including me). I tried to provide a starting point, bit did was not able to participate much in any tox related development over the last months. IIUC there were some changes needed to conda itself to make the integration work properly. I'll see if I can play around with both plugins and come up with some plan how to proceed.

[2018-12-28 17:13] obestwalter commented on #4
@kalefranz would you have some time to chip in maybe?

[2018-12-28 17:19] obestwalter commented on #4
Also: @TiemenSch did some work on it also (see: https://github.com/TiemenSch/tox-conda/blob/master/tox_conda/plugin.py).

@kalefranz initial implementation is here: https://github.com/kalefranz/tox-conda/blob/initial-conda-support/tox_conda/plugin.py

Would be great if you all could put your heads together on this. It would also be nice if the main repo where the actual work is being done ends up

[2018-12-30 07:52] TiemenSch commented on #4
Hi!

Great to see some activity here! I recently started my own company, so I got rather busy and saw little time to move this forward back then.

If I remember correctly, I got stuck on the config settings of tox. To me it was unclear which Python executable is used in what stage of the process. (You can see my confusion in the PR @drdavella reviewed https://github.com/tox-dev/tox-conda/pull/2#is

[2018-12-30 11:17] obestwalter commented on #4
Is the package structure compatible with what's considered regular at tox-dev?

Concentrating the work into this repo and use this as the base for releases would be preferrable. Ideally we will add the same/similar test and release automation for plugins like we have for tox, to ease maintenance and share the load. I don't know wether it is easier to merge stuff in here or move the most advanced v

[2019-01-05 11:54] #3 closed

[2019-01-05 11:56] Aisuko commented on #3
Follow @obestwalter's answer.

[2019-01-10 18:06] #4 closed

[2019-01-10 18:10] obestwalter opened #6 "update maintainer, license, etc"
Make sure they reflect the new situation after the merge.

[2019-01-10 18:10] obestwalter opened #7 "update release process"
Make sure that @rpkilby can release but also maintainers here.

[2019-01-10 18:12] obestwalter opened #8 "go through stale WIP PRs to see what is worth using on new base"

[2019-01-10 18:15] obestwalter opened #9 "Move from appveyor to travis (or azure pipelines)"
or whoever else provides good CI for Windows.

Appveyor is slow and on the way out, so we should find a better alternative.

[2019-01-10 18:17] drdavella opened #10 "Make sure to ignore channels in local configuration"
Originally at https://github.com/drdavella/tox-conda/issues/1.

[2019-01-10 18:18] drdavella opened #11 "Consider making conda a dependency"
Originally at https://github.com/drdavella/tox-conda/issues/2.

[2019-01-12 15:59] pylang commented on #11
I'm curious about the rationale here.

[2019-01-14 11:33] oguitart opened #12 "how to specify conda install"
Hi,
let's say I need to install the following package byy:

conda install -y -c rdkit rdkit
conda install -y -c openbabel openbabel

How I should write this in the tox.ini? I should put in the conda_deps section like that?:
conda_deps=
    rdkit
    openbabel

thanks,

oriol

[2019-01-23 22:55] obestwalter commented on #12
Hi @oguitart  where you able to figure it out? Please keep in mind that this plugin is still in its early stages so actual feedback what is needed and what could be improved would be appreciated.

[2019-01-24 08:50] oguitart commented on #12
Yes, I finally understood that by using conda_deps and conda_channels. I could do the same thing. Now it works perfect.
Thanks

[2019-01-24 13:35] #12 closed

[2019-02-25 19:47] Peque opened #13 "Use a `environment.yaml` file"
I already have all the dependencies and channels declared in an `environment.yaml` file. With Conda, I can create the environment with `conda env create -f environment.yaml`.

I think that is not currently possible with `tox-conda`, right? If so, it would be great to have that. In example:

[code]

Or:

[code]

Which is more aligned with the Tox-supported:

[code]

[2019-02-25 19:57] Peque opened #14 "Make use of Conda optional"
It would be great if, by default, `tox-conda` would not alter the default `tox` behavior. That way you could have it installed and not force its use in potentially many different projects.

I propose this as I have `tox` installed user-wide, not in a virtual environment, so I would like to do the same with `tox-conda` without breaking many projects which do not (and should not) use Conda at all.

[2019-02-25 20:02] Peque commented on #14
This could maybe one day help integrating Conda support in Tox, as it would be backwards compatible, not breaking people's workflows?

[2019-03-28 13:30] drdavella opened #15 "Plugin is broken with release of tox-3.8.0"
The following error occurs when running `tox-conda` with `tox-3.8.0`:

[code]

This seems like a backwards incompatible API change in `tox` which was not mentioned anywhere in the change log, so maybe this issue is really a bug there.

[2019-03-28 14:07] gaborbernat commented on #15
Let's fix this by adhering to the new contract 👍

[2019-03-28 17:28] gaborbernat commented on #15
@drdavella can you please cut a new release from master?

[2019-03-28 20:17] drdavella commented on #15
@gaborbernat yes I can do that, although I should also make the tox developers an owner of the repo on pypi. Maybe you can email me to tell me the account name?

[2019-03-28 21:27] gaborbernat commented on #15
hello gaborbernat is my handle 👌

[2019-03-30 00:16] pylang commented on #10
Let me begin by saying this is a long awaited, wonderful plugin!

My tox env that once installed the entire scipy stack from pip took 5+ mins.  With this plugin - 30+ secs!  Thank you so much.

*Observation*

I ran into an error re-running tox on Windows.  The first time it seems to run alright.  The second or third time I get an unusually `PermissionError` when conda tries to install `vs2015_runt

[2019-03-31 08:49] mforbes commented on #13
This is kind of key as it is good practise to specify dependencies in an `environment.yml` file to avoid redundancy.

[2019-04-01 13:27] drdavella opened #19 "Problem reusing environment on Windows"
Let me begin by saying this is a long awaited, wonderful plugin!

My tox env that once installed the entire scipy stack from pip took 5-10+ mins.  With this plugin - 30+ secs!  Thank you so much @drdavella et al.

*Observation*

I ran into an error re-running tox on Windows.  The first time it seems to run alright.  The second or third time I get an unusual `PermissionError` when conda tries to in

[2019-04-01 13:27] drdavella commented on #10
Hi @pylang thanks for the feedback! I have opened a new issue to track the problem you reported. Please see #19 for discussion.

[2019-04-01 13:28] drdavella commented on #19
@pylang thanks for the report. I wonder if you have tested this again with the latest versions of `tox` (3.8.0) and `tox-conda` (0.2.0)?

[2019-04-02 06:21] pylang commented on #19
@drdavella Seeing the new release, I pip installed `tox-conda` which updated `tox` to the versions you mentioned.

[2019-04-03 07:16] JarnoRFB opened #20 "Environments always recreated, except for version matching env interpreter"
Hi,
I just tried it out on Ubuntu 18.10. I have a conda env with py36. Now I want to test against 3.5 and 3.7 as well. My `tox.ini` looks like this.

[code]

It works for all versions, which is great. However, the environment seems only to be cached for for 3.6 and not for 3.5 and 3.7. While the environments stay on the file system, they are not reused.

[code]

When running `tox`, I get output li

[2019-04-13 15:10] rsokl commented on #20
I have a suspicion that a [bug I encountered](https://github.com/tox-dev/tox/issues/1259) has the same root-cause as your issue.

If you run `tox -v`, do you see something like:

[code]

It looks like the plugin is unable to find the path to the source executable for some of its environments at an early stage of the tox process. I suspect that this prevents it from reusing the cached environments.

[2019-04-15 09:12] gaborbernat commented on #20
Indeed it seems conda did not overwrite the interpreter discovery mechanism, we'll need to fix this.

[2019-04-15 14:10] JarnoRFB commented on #20
@rsokl Running `tox -v` starts to recreate the environments and gives output like

[code]

but great if you already spotted the source of the problem!

[2019-05-09 16:41] njzjz opened #22 "How to use conda to install all deps?"
How to use conda to install all dependencies including dependencies that set in the `setup.py`?

<sub>Sent from <a href="https://itunes.apple.com/cn/app/id1314212521">PPHub For GitHub</a></sub>

[2019-05-21 22:55] pylang opened #23 "tox envs in `conda list`"
On my isolated machine running `tox-conda`, I find my tox envs under:

I did not expect tox envs in that list, though I can reason why they might be there.  I'm not sure if this is caused by a newer tox version, but I noticed post installation of this plugin.  Can someone confirm:

1. after running a tox env with tox-conda
1. invoke `> conda env list`
1. see if tox envs are listed among conda envs

[2019-06-25 13:23] AnneTheAgile commented on #15
This ticket should be closed, fixed, per
https://github.com/tox-dev/tox-conda/releases/tag/0.2.0
https://github.com/tox-dev/tox-conda/pull/16

[2019-06-25 13:25] #15 closed

[2019-06-25 13:47] AnneTheAgile commented on #14
I believe this issue as well should be closed as #21 was merged.

[2019-06-25 14:07] #14 closed

[2019-07-08 12:39] tobiasraabe opened #24 "Environment is not properly activated on Windows and MacOS."
Hi,

first, of all, thanks for the package 👍. I was using tox before, but only with this package it became much more convenient for data science projects.

But, I ran into an issue where I cannot pin down exactly where the error is.

1. Long time ago, we noticed that our tests on Windows failed on Travis with Python 3.7.. NumPy seems to be missing and we attributed the error to a faulty conda pack

[2019-07-17 09:32] tobiasraabe commented on #24
I think the error is more related to issues with conda, Python, NumPy and Windows where DLLs might not be found.

[2019-07-18 18:44] obestwalter commented on #24
Hey @tobiasraabe thanks for giving an update about that. I will have the opportunity to battle test this plug-in with a group of Windows users next week so it's good to know that basically it should work. Any extra information that you could provide about your particular problem would be very appreciated!

[2019-07-19 11:21] tobiasraabe commented on #24
Thanks for coming back to me :). Now, I have a small hopefully reproducible example for you.

1. Create a new environment with ``conda create -n tc python=3.7 tox-conda -c defaults -c conda-forge`` and activate it with ``conda activate tc``.
2. Use this ``tox.ini``:
[code]
3. Run ``tox`` which resuslts in an error. Something like this
[code]
4. Install ``numpy`` in ``tc`` with ``conda install nump

[2019-07-19 16:22] obestwalter commented on #24
Thanks!

[2019-07-20 18:45] obestwalter commented on #8
No stale wips left :tada:

[2019-07-20 18:45] #8 closed

[2019-07-23 14:34] smarie opened #25 "cowardly refusing to delete `envdir` (it does not look like a virtualenv)"
I got this error when using `tox-conda` 0.2.0 with `tox` 3.13.2, on miniconda3 with conda 4.6.14, when an environment exists and needs to be recreated:

[code]

Note that even using `tox -r` does not solve the problem.

Any idea why this happens ?
Thanks for this project !

[2019-07-23 14:39] gaborbernat commented on #25
This is a false positive from https://github.com/tox-dev/tox/pull/1340 (I'm more and more sure we should drop that check) @asottile?

[2019-07-23 14:44] asottile commented on #25
I strongly think we should keep the check -- we just need to fix the edge cases, @smarie can you show the contents of that directory?

[2019-07-23 14:45] asottile commented on #25
tox also doesn't support python 2.6 any more so it's probably that?

[2019-07-23 14:48] gaborbernat commented on #25
This is a conda environment, the content of the directory will be probably mostly empty (as the python files may be in a different location). If anything the check should be something like we have the tox directories (tmp + log). All other folders may or may not be present.

[2019-07-23 14:52] asottile commented on #25
ah so it's a plugin doing this -- perhaps we should make the check pluggable and then `tox-conda` can override it with its own behaviour

I really do think guarding ~essentially `rm -rf` is very important to tox's execution

[2019-07-23 14:56] gaborbernat commented on #25
I feel like we're fixing imaginary issues now that causes more trouble than worth. tox has been fine without this check for quite a while now 🤔 this is the third time I've run into this in the last month 😢 since we've added it

[2019-07-23 14:56] smarie commented on #25
Actually I can't show the contents: I removed the folder locally, reinstalled miniconda as it was corrupted, and now the error does not seem to happen anymore.
Maybe this is link to the fact that I launched tox from within pycharm? Or to the fact that I interrupted it using CTRL+C ?

If I find a reproducible pattern I will let you know

[2019-07-23 14:57] #25 closed

[2019-07-23 15:06] asottile commented on #25
@gaborbernat it has also exposed bugs in user setups -- like blowing away tox's `dist` dir by a poorly named environment

[2019-07-23 15:15] gaborbernat commented on #25
There's a much more robust simple check for that though 👍

[2019-07-23 15:20] asottile commented on #25
sure but there's no robust check from `envdir=/home` or `envdir=src` or `envdir=../`

[2019-07-23 15:21] smarie opened #26 "setup.py environment working when recreated but using conda root interpreter when not recreated"
When executing the command `tox -e setup.py` the first time it works correctly, but the second time it does not seem to activate the environment and raises the following warning :

[code]

Workaroun: if I use the `-r` flag it works again.

You can reproduce this bug by using the tox file in https://github.com/tqdm/py-make
(which is the project I am trying to contribute to, that's why I have to use

[2019-07-23 16:00] smarie commented on #26
Might also be a duplicate of #24 . If so, sorry for that

[2019-07-23 18:41] rpkilby commented on #25
We could prevent users from writing to paths outside of the `.tox` directory.

----

Taking a step back, what is the goal of the `cowardly` check? As far as I can tell, it's to prevent users from creating test envs that accidentally clobber tox's working directories (`dist`, `log`, etc..), as well as directories outside of tox (`/home`, `../`, ...). If that's the case, I think there's a simpler so

[2019-07-23 18:44] asottile commented on #25
Lots use `envdir=venv` and the `--devenv` feature in the latest release encourages creating temporary environments outside of `.tox`

[2019-07-23 19:50] rpkilby commented on #25
It's an implementation detail of tox that causes the conflict. I'd argue that `dist` should be a valid env name.  Per point 1 in my previous comment, this could be solved if the work dirs and test env dirs were located in separate subdirectories.

----

I mean, the question is what kind of guardrails you want to put up. It's easy to say something categorical like "writing outside of `.tox` is pote

[2019-07-23 19:51] gaborbernat commented on #25
So what if tox before generating an environment puts a marker file in the folder and we check for the existence of this marker file?

[2019-07-23 19:52] asottile commented on #25
seems fine, but wouldn't it hit trouble rolling forward?

[2019-07-23 22:35] gaborbernat commented on #25
Why would it?🤔

[2019-07-23 22:37] asottile commented on #25
- tox==old
- tox -e py27
- makes `.tox/py27` (no marker)
- pip install tox --upgrade
- tox==new
- tox -r -e py27
- => no marker (boom)

[2019-07-23 23:31] gaborbernat commented on #25
Not a problem if we make the marker file the .tox-config1 we already write 👍

[2019-07-23 23:59] asottile commented on #25
:shipit:

[2019-07-25 12:20] rompom opened #27 "Env is always recreated on windows with some conda deps"
Tox version : 3.13.2
tox-conda : 0.3.0

When first creating a virtual env, Tox create a file called **.tox-config1** with ,among other things, list the dependencies used ( [see here]( https://github.com/tox-dev/tox/blob/master/src/tox/venv.py#L298) )

When running tox again, he check this file ( [see here](https://github.com/tox-dev/tox/blob/master/src/tox/venv.py#L229) ) and the current list of d

[2019-07-25 17:54] obestwalter commented on #25
If this feature causes too much trouble, I don't think the answer is to make it less safe.

I'd rather drop the feature rather than risking deletion of arbitrary directories due to user error. We can't protect people from putting an `rm -rf {toxinidir}` in their commands, but we should try to make the tool reasonably safe. tox is not only meant for people who exactly what they are doing. I think,

[2019-07-25 18:05] obestwalter commented on #25
Sorry - didn't see that on first skim. I like that - that would be a nice explicit way :)

[2019-07-31 13:13] adament commented on #24
I ran into this problem for another compiled extension, it seems that environment_root\Library\bin is not put into PATH. Which at least seems to be the cause of my problem. This is also consistent with numpy failing to import _mklinit in the example from @tobiasraabe. Since the mkl dlls are also in Library\bin.

[2019-07-31 15:16] tobiasraabe commented on #24
I found a solution to my problems on Azure Pipelines.

On Windows, I had to add ``CONDA_DLL_SEARCH_MODIFICATION_ENABLE = 1`` to the tox.ini under setenv.

On MacOS, I had to clean the conda package index with ``conda clean -i``.

[2019-07-31 19:48] aperezhortal commented on #23
I also see the tox envs in `conda env list`. Is this an expected behavior in tox-conda?
Thanks

[2019-07-31 20:03] aperezhortal opened #29 "Environment not activated correctly (basemap)"
I'm trying to use tox-conda to create an environment with Basemaps on it but it fails set the environment variables during the initialization of the environment.

More in detail, the PROJ_LIB is not set during the initialization. This is the minimal example that show the possible bug:

[code]

Error on running `tox -v `:
[code]

[2019-08-01 17:44] aperezhortal commented on #29
A possible workaround for this particular case is adding setting the environment variable in tox.ini
[code]

[2019-08-11 12:45] maximlt commented on #26
I experience the exact same problem (version 0.2.0). The workaround `-r` flag works as suggested.

Another workaround is not to use *tox-conda* :(
Instead, this [article](https://fizzylogic.nl/2017/11/01/how-to-setup-tox-on-windows-with-anaconda/) recommends creating manually the required Python environments with `conda create -p C:\Python36 python=3.6`. This works well. Without this manual instal

[2019-08-13 20:16] deparkes opened #30 "Windows RuntimeError: Can't locate conda executable"
Thanks very much for making this plugin!

I'm running Windows with:
tox==3.13.2
git+git@github.com:tox-dev/tox-conda.git@bc9f4a341a8b8d7aeb8cb5f7574a3906ff06fe9d#egg=tox_conda

and I have been trying to run the tests after cloning the repository.

I created a new conda environment 'tox-conda' with

[code]
And ran the tox-conda tests with
tox -e py37

This resulted in an error:
[code]
To make a bit

[2019-08-26 02:22] mydpy opened #32 "Support Python 3.7"
We're starting to move our Python projects to 3.7+. Lack of support for 3.7+ will prevent us from using `tox-conda` for test automation.

[2019-09-16 05:44] asford commented on #32
I'm using tox-conda for python 3.7 tests without any issues. The standard `py37` env definition and `base_python=python3.7` clauses in `tox.ini` appear to work file.

[2019-09-16 05:48] asford opened #33 "Consider 0.2.1 release?"
#28 fixes a major usability issue for tox-conda. Would it possible to cut a minor version release so a new version can be pushed out on conda-forge?

[2019-09-16 08:28] gaborbernat commented on #33
Done https://pypi.org/project/tox-conda/0.2.1/

[2019-09-16 08:28] #33 closed

[2019-09-16 14:50] mydpy commented on #32
This issue can be closed. I was able to configure this working properly with Python 3.7. Thank you.

[2019-09-16 14:50] #32 closed

[2019-09-19 20:16] janLuke commented on #27
The fix doesn't seem to work for me. Tox keeps recreating all the environments that require a version of Python different from the one I have installed in my root environment. Maybe I am missing some fundamental obvious step (?)

[2019-10-04 09:04] rompom commented on #26
Two issues in one : the get_python_executable find only the base python exe, and if we use a hook to make it find the good one, then on the re-run of tox, the old one is found again as the hook is executed after the config check => we get a force recreate of the environment.

[2019-10-28 04:30] joaomcteixeira commented on #30
Hello,
I am running through the same problem when trying to run tox with tox-conda on appveyor
[code]

**appveyor.yml**
[code]

full log [here](https://ci.appveyor.com/project/joaomcteixeira/taurenmd/build/job/5xku4vy20mv8wbf0).

Thank you in advance for all the help

[2019-11-20 12:56] obestwalter commented on #26
Did anyone try the patch? Shall we merge and release this? It looks pretty brittle but if it is a good workaround for now, it is better than nothing. In the long run it would be good to educate core about what is needed for a plugin like tox-conda to work without hacks like patching `_venv_lookup` (e.g. making it part of the API or something).

[2019-11-20 14:47] smarie commented on #26
The PR seems to be fixing my original problem.

[2019-11-20 15:42] obestwalter commented on #26
fixed with #35

[2019-11-20 15:42] #26 closed

[2019-12-02 07:26] QuLogic commented on #24
I don't think this is platform-specific; it's just more obvious on some of them depending on what things you have installed globally.

[2019-12-02 07:26] QuLogic commented on #29
I think this is a duplicate of #24 (which I also don't think is platform-specific.)

[2019-12-17 12:32] astrofrog opened #36 "Provide a way to select whether to use tox-conda on an env by env basis"
It's currently possible to opt in of using tox-conda on a project by project basis, by specifying tox-conda in the ``requires`` section under ``[tox]``. However, I would like to be able to control whether conda is used on an environment by environment basis, since I want to make sure that things work properly both with system Python and conda Python.

I think the cleanest way to do this might be t

[2019-12-17 22:40] saimn commented on #36
Related :
https://github.com/drdavella/tox-conda/issues/11
https://github.com/drdavella/tox-conda/pull/12

[2020-02-07 23:48] goerz opened #37 "tox-conda interacts badly with numpy on Windows, Python 3.7/3.8"
Having `numpy` in `conda_deps` on Windows with Python 3.7 or Python 3.8 causes a crash when any command inside the environment tries to import `numpy`. Python 3.6 works.

See cross-reference https://github.com/numpy/numpy/issues/15537

[2020-02-07 23:48] goerz commented on #37
Also https://github.com/conda-forge/numpy-feedstock/issues/184

[2020-02-08 20:36] goerz commented on #37
It seems the issue may be that `numpy` does not load unless the conda environment is explicitly activated (see https://github.com/numpy/numpy/issues/15537#issuecomment-583773970). Does `tox-conda` activate the environments that it manages (or mimick *exactly* what `conda activate <envname>` would do)?

[2020-04-11 22:29] moux233 opened #38 "tox fails on second run"
Hello
I am struggling with tox.
I am using tox, tox-conda, conda (latest versions) and Windows 10.
When I run tox for the firs time, or tox --recreate, it creates the test environments and executes my commands, everything ok.
When I run it again, it does not find _python_ in the test environment.
I get the following error:

(base) G:\07.Git\qrunch>tox -v
using tox.ini: G:\07.Git\qrunch\tox.ini (pi

[2020-04-14 20:15] denkii opened #39 "Parallel support"
It seems like there are consistent `InvalidArchiveError`'s when attempting to run `tox-conda` in parallel on Jenkins similar to the way `tox` advises it to be set up. As shown here: https://tox.readthedocs.io/en/latest/example/jenkins.html#running-tox-environments-in-parallel

It looks like `conda install` is not thread-safe. https://stackoverflow.com/a/58228286

Are there any workarounds for this

[2020-04-14 20:57] rpkilby commented on #39
You might be able to get around this by installing the dependencies before running the tests in parallel. e.g.,

[code]

[2020-04-14 21:46] denkii commented on #39
Looks like this workaround works. Thanks!

[2020-04-15 13:13] smarie opened #40 "Cut a new release ?"
It seems that several interesting commits/PRs have been made since last release. Could we imagine to cut a new one ?

![image](https://user-images.githubusercontent.com/3236794/79341107-90548180-7f2b-11ea-98cd-33953520b481.png)

Thanks!

[2020-04-15 14:53] smarie opened #41 "`conda_extras` (equivalent of `extras`)"
Tox currently offers a great way to reuse one of the dependencies lists from the `setup.py`:

in setup.py:

[code]

in tox.ini:

[code]

Could we imagine to have a `conda_extras` instruction with exactly the same capability ? (but installing the dependencies with conda of course)

[2020-04-17 19:45] moux233 commented on #38
fixed by #35

[2020-04-17 19:45] #38 closed

[2020-05-01 01:44] kesmit13 opened #42 "{envpython} in tox returns the wrong path to python.exe on Windows"
Virtualenv environments put python.exe in the Scripts subdirectory of a virtual environment.  However, conda virtual environments put python.exe in the root of the virtual environment.  Since tox expects python.exe in the Scripts subdirectory, it uses that path when expanding {envpython} rather than the root.

[2020-05-03 23:08] pzahemszky opened #43 "Log polluted by conda installer's progress bar"
When installing SciPy with conda for the first time (using tox and tox-conda), the log file corresponding to the tox test environment creation contains carriage return characters on Linux.

Relevant section of **.tox/scipyenv/log/scipyenv-1.log**:
[code]

This is probably a result of the progress bar of `conda install`.

I would expect the log to be concise so that it's easier to use for debugging

[2020-05-03 23:15] pzahemszky commented on #43
Would it be possible to pass the `--quiet` option to the `conda install` command in `install_conda_deps()`?

[2020-05-05 15:32] mivade commented on #13
This would be really nice to have!

[2020-05-15 16:36] Choc13 opened #45 "isolated_build does not work with tox-conda"
I'm having some issues getting isolated builds to work in tox when using `tox-conda`. Specifically, I have the following `setup.cfg`:

[code]

And I have a `pyproject.toml` such as:

[code]

Running `tox -e foo` from a conda environment containing tox produces the following error:

[code]

It seems to me that there is no script named `python` in the `Scripts` folder when using `tox-conda`. However

[2020-05-17 15:42] pzahemszky opened #46 "Ability to configure the conda install command"
Similarly to how the [`install_command`](https://tox.readthedocs.io/en/latest/config.html?highlight=separator#conf-install_command) setting of test environments allows changing the default (pip) install command in tox, it would be useful to have a way of modifying the default conda install command in tox-conda (e.g. using a `conda_install_command` setting).

[2020-05-21 15:15] Choc13 commented on #37
I believe we are also seeing this issue, however we are seeing it in a tox environment that has `basepython=python3.6`.

[2020-05-22 08:55] astrofrog opened #47 "CONDA_BUILD_SYSROOT needs to be explicitly passed"
When trying to use conda compilers inside a tox environment on MacOS X I've found that I need to explicitly pass ``CONDA_BUILD_SYSROOT`` for things to work:

[code]

If I don't include the ``passenv`` clause I get the following error:

[code]

Is there a way to make tox-conda pass this through automatically?

[2020-06-24 20:22] tlambert03 commented on #37
I think I might be seeing this as well (though for me it fails on 3.6 as well).  Same setup as @goerz mentioned, numpy gets installed via `conda_deps`.  Only fails on windows.  In case it's an important detail, I'm on github actions, using goanpeca/setup-miniconda@v1.6.0 to install conda.  Here's a failing test: https://github.com/tlambert03/napari-omero/runs/804849289?check_suite_focus=true#step:

[2020-06-25 14:10] Choc13 commented on #37
I have managed to find a work around for this. By setting `CONDA_DLL_SEARCH_MODIFICATION_ENABLE = 1` in the `setenv` section of the tox testenv configuration it works again. There is more information in the [conda docs](https://docs.conda.io/projects/conda/en/latest/user-guide/troubleshooting.html#numpy-mkl-library-load-failed) about this workaround.

[2020-06-27 21:21] andrew-schweitzer-analog commented on #20
I _think_ I was able to prevent unnecessary environment recreation by adding these settings:
[code]

I am running tox/tox-conda from a 3.7 conda environment. I run mypy, pylint, py37-conda, py37-pypi, py38-conda and py38-pypi environments in tox. Without setting `ignore_basepython_conflict` and `basepython` as above, mypy, pylint, py37-conda and py37-pypi _reused_ the environment, but py38-conda a

[2020-06-27 21:36] andrew-schweitzer-analog commented on #20
This is probably obvious to the maintainers, but relevant sections of code seem to include:
* [config.basepython_default()](https://github.com/tox-dev/tox/blob/master/src/tox/config/__init__.py#L576)
* [unix.tox_get_python_executable()](https://github.com/tox-dev/tox/blob/master/src/tox/interpreters/unix.py#L10)
* [tox-conda.tox_get_python_executable()](https://github.com/tox-dev/tox-conda/blob/ma

[2020-06-29 14:57] #22 closed

[2020-07-06 19:03] jasonhuling commented on #13
This can _kind of_ be done... but in an incomplete an hacky way. Incomplete in that it does not utilize a complete `environment.yaml` file, but instead a `requirements.txt` file containing the conda dependencies you want to install. I'm still mentioning it here because it can help to remove some redundancy.

I've done something like the following:
[code]
It seems as though `conda_deps` are just pa

[2020-07-08 15:15] mivade commented on #13
@jasonhuling that's a great suggestion, thanks!

For a little context, one of the annoying things about conda is that there are at least 3 ways of specifying dependencies:
- `environment.yml` files which are used by the `conda env create` command
- Regular txt files which are used by the `conda create` or `conda install` commands
- `meta.yaml` files which are used when building conda packages

Giv

[2020-07-08 15:45] rwhitt2049 commented on #19
I can confirm that I'm seeing a similar issue. At some point after multiple re-runs, usually the second or third, I get the following error in my log. This only happens when I include Python 3.5 and Python 3.6 environments.

tox-conda == 0.2.1
tox == 3.16.1
conda==4.8.3
Windows10

[code]

I usually have a few environments that get created with no issue - usually python 3.7 or newer, but not sure i

[2020-07-27 19:54] rogerlord commented on #30
Did this ever get solved @joaomcteixeira ? I am having similar issues here - https://ci.appveyor.com/project/RogerLord/covid-19/builds/34329572.

[2020-07-28 10:52] joaomcteixeira commented on #30
Hi @rogerlord ,
I believe I never solved this. Eventually, I gave up appveyor and set up everything on Travis. The latest CI integration that I have is [this one](https://github.com/Farseer-NMR/FarSeer-NMR/blob/master/.travis.yml), with the 3 OSes running there; last updated already some months ago, some things might be outdated. Currently, I am not in the need to keep the CI of my projects up to

[2020-08-14 11:43] grubbins commented on #20
I ran into this issue today. @andrew-schweitzer-analog , your workaround made no difference for me: the base python version is still recorded as `None` in all the created envs where the python version doesn't match the python version of the environment from which I ran tox...

[2020-08-26 14:34] andrew-schweitzer-analog commented on #20
It also broke again for me, this time testing python 3.6, rather than mypy/pylint. I've been tasks like mypy and pylint that are not explicitly testing the code against different python versions/environments out of tox and into make to save regeneration time.

[2020-08-27 22:46] rwhitt2049 commented on #37
A detail about @Choc13 's DLL env variable fix. I've noticed this only works with numpy from the default channel from anaconda.com. It does not however, seem to work if you install numpy from conda-forge.

[2020-09-02 16:08] Choc13 commented on #46
I think this would be useful to allow people to make use of tools like `mamba`, that claim to be quicker to resolve the dependencies but have the same API as conda.

[2020-09-08 06:18] mforbes commented on #46
Agreed.  This might also make it possible to specify an `environment.yml` file without additional sections.  See also #13 for another solution.

[2020-09-30 04:51] ktbarrett commented on #42
I am also encountering this issue.

[2020-10-08 23:51] marlonjames opened #50 "conda environment paths not added"
Environment: Windows 10, miniconda3 (Python 3.8.3, conda 4.8.3), tox 3.20.1

Essentially it doesn't add the default paths for each tox-created environment that would normally be added by `conda activate`.

In my example, I was trying to compile something with msys2, and if you don't have the msys2 packages installed in the base environment but put them under **conda_deps** in tox.ini, it won't wor

[2020-11-06 14:23] AntoineD opened #51 "Broken on windows"
Hello,

the latest release and the master branch do not work for windows 10 (I've not tested other windows versions).
For instance, see what happens when using tox-conda with its own sources:
- setup with
[code]
- The executable installed in an env and used by a command is not found, here pre-commit
[code]
- And here pytest, found outside the env
[code]

Also, the interpreter installed inside an a

[2020-11-08 10:14] #43 closed

[2020-11-08 12:47] AntoineD commented on #51
Closing since it is fixed in master.

[2020-11-08 12:47] #51 closed

[2020-11-08 12:50] AntoineD commented on #42
This has been fixed in the master branch, could you guys give it a try?

[2020-11-08 12:53] AntoineD commented on #27
There is a fix in the master branch for this, could you give it a try?

[2020-11-08 12:54] AntoineD commented on #20
There is a fix in the master branch for this, could you give it a try?

[2020-11-08 15:59] gaborbernat commented on #43
Version 0.3.0 just released contains this.

[2020-11-08 15:59] gaborbernat commented on #51
Version 0.3.0 just released contains this.

[2020-11-08 16:09] AntoineD commented on #51
Thanks a lot @gaborbernat.
BTW, I'm working on a fix for #19.

[2020-11-08 17:31] #13 closed

[2020-11-08 17:31] #24 closed

[2020-11-08 17:31] #29 closed

[2020-11-08 19:04] ktbarrett commented on #42
It seems to be working for me now.

[2020-11-09 08:01] #42 closed

[2020-11-09 17:53] jhkennedy commented on #50
@garmin-mjames I think this may be fixed in tox conda 0.4.0 (see discussion at bottom of #48), can you check?

[2020-11-09 21:07] garmin-mjames commented on #50
@jhkennedy I was looking at this yesterday, and my solution above doesn't actually fix things in all cases, and it's still broken in 0.4.0 on Windows.

When a tox command is run, two things relating to this issue happen:

1. **getcommandpath()** is called to try to locate the command (https://github.com/tox-dev/tox/blob/7df5b9ae1761a28aec0ffb6e220572782bbd995a/src/tox/venv.py#L591)
    a. try **_v

[2020-11-09 21:49] rwhitt2049 commented on #19
I can confirm that this is fix in version 0.4. Thanks! I've been fighting that for months now.

[2020-11-09 22:00] rwhitt2049 commented on #20
@AntoineD, I'm still having this issue on Ubuntu (although 0.4.0 fixed Windows). I'm running WSL Ubuntu 20.04, and tox-conda=0.4.0

[2020-11-09 22:05] garmin-mjames commented on #50
It might also be appropriate to remove the directories of the conda environment that was used to run `tox`, to further align with `conda activate` behavior.

[2020-11-09 22:27] #19 closed

[2020-11-10 15:24] AntoineD commented on #20
It should be fixed in #53.

[2020-11-10 16:05] #20 closed

[2020-11-10 16:07] gaborbernat commented on #20
Release on-going as 0.4.1 under https://github.com/tox-dev/tox-conda/runs/1380704093

[2020-11-12 11:46] jondye commented on #45
I have the same issue.

I've got as far as understanding that inside the tox package in `tox/package/builder/isolated.py` in [get_build_requires](https://github.com/tox-dev/tox/blob/master/src/tox/package/builder/isolated.py#L135) it tries to run the build_require script (`BUILD_REQUIRE_SCRIPT`) using the path in `package_venv.envconfig.envpython`. in `config/__init__.py` the [envpython property](

[2020-11-12 12:08] jondye commented on #45
Something like this perhaps:
[code]

[2020-11-12 19:47] kesmit13 opened #54 "New feature that would allow environments to be created with R or Lua instead of Python"
Currently, tox and tox-conda assume that they are being used for building and testing Python environments. However, Anaconda also supports R and Lua environments. It would be nice if it was possible to create an environment for those languages instead of Python. Currently, you can still create test environments, but Python always comes along for the ride even if you don't want it (which can someti

[2020-11-12 20:10] kesmit13 commented on #54
Actually, for my current use case, I really just need to specify something like language_base = none so that it creates an empty environment. Then conda_deps= can specify the language base to install.

[2020-11-13 10:03] gaborbernat commented on #54
There's a tox rewrite on-going under https://github.com/tox-dev/tox/tree/rewrite#rewrite-branch, which removes this assumption.

[2020-11-18 07:25] linus-gates opened #56 "Crash in testenv creation"
The line:
`del venv.envconfig.config.interpreters.name2executable[venv.name]`
gives keyError: py38
(py38 is my tox env name).

running on linux, python3.8, inside a conda environment.

[2020-11-19 08:10] AntoineD commented on #56
Could you describe the context of this issue such that it could be reproduced?

[2020-11-27 08:16] JarnoRFB commented on #56
I experience the same error after upgrading to `0.4.1`. The code was introduced in https://github.com/tox-dev/tox-conda/pull/52 I guess.

My tox.ini looks like this

[code]

Most details here are probably not so important, but the same tox.ini used to work with `0.2.1`. I call tox in my build scripts with something like
`tox--installpkg "${cfg.distLocation}*.tar.gz --workdir cfg.tox.workingDirecto

[2020-11-27 08:46] AntoineD commented on #56
Hi @JarnoRFB,

as @linus-gates mentioned, there is a weak spot that I introduced in a recent commit, but I'd like to understand what is the situation that triggers this bug so we can get the root cause.

Is it reproducible even after deleting your .tox directory?

[2021-01-10 02:05] AntoineD opened #62 "CI failing"
Because of https://github.com/tox-dev/tox/issues/1785

[2021-01-13 10:32] AntoineD commented on #62
Fixed in tox 3.21.1

[2021-01-13 10:32] #62 closed

[2021-01-13 10:39] AntoineD commented on #46
This feature is available in 0.7.0.

[2021-01-25 21:27] saimn opened #64 "isolated_build breaks python version detection"
When using `isolated_build = true` tox-conda will no more detect the correct version to use from the env name.

If I run something like `tox -e py37`, without `isolated_build = true`, `venv.envconfig.basepython` returns `python3.7` and [`get_py_version`](https://github.com/tox-dev/tox-conda/blob/ae3b9bbe081b30d4e338e216485a7b7286fd96de/tox_conda/plugin.py#L21) returns the correct python requiremen

[2021-02-26 14:30] basnijholt commented on #37
@rwhitt2049, I can indeed confirm that if *does not* work with NumPy installed from `conda-forge`.

I still see this issue for NumPy v1.20.1.

Did you manage to find a workaround?

[2021-02-26 15:37] basnijholt commented on #37
I managed to work around it by commenting out the
[code]
section.

Unfortunately, this led to some other issues, like [this](https://stackoverflow.com/questions/57484399/issue-importing-scikit-learn-module-scipy-has-no-attribute-lib). In the end I had to install both `numpy`, `scipy`, and `h5py` from the defaults channel to make it work.

I am looking forward to a better (more stable) solution!

[2021-02-26 15:49] rwhitt2049 commented on #37
@basnijholt, I got around it by setting my conda channels as follows:

[code]
... and then adding an env variable as per Choc13's comment above:

[code]

I have dependencies on conda-forge as well, which is why it's still in my conda_channels list. So functionally this will pull dependencies from defaults first, and then check conda-forge if it can't find the package there.

Setting the env variab

[2021-02-26 15:51] basnijholt commented on #40
v0.2.1 has been released on 21-01-2021, so I think this can be closed :)

[2021-02-26 15:57] #40 closed

[2021-03-09 09:30] ppoilbarbe commented on #46
I don't see it in code nor in documentation. Even on master branch the conda_exe field of environment is still fixed with "conda".
With tox, using "conda mambabuild" instead of "conda-build" takes 10 minutes (opposed to more than 24 hours) but initial filling with dependencies is still long (made with "conda install" instead of "mamba install")

[2021-03-09 11:41] ppoilbarbe commented on #46
It does not change the main executable: conda vs mamba.

[2021-03-25 16:32] domeniconappo commented on #56
Hi everyone,

any reason why the commit is not merged yet?
I've tried and it works :)

[2021-03-25 16:37] AntoineD commented on #56
Hi @domeniconappo,
I was just waiting for an answer before going further with a PR.

[2021-03-26 08:52] JarnoRFB commented on #56
Really sorry I didn't get around to testing this, but if it works for other people don't let it get blocked by me.

[2021-04-02 23:14] #56 closed

[2021-04-05 11:15] jaystary commented on #46
I would also like to see this, as this would speed up the process of creating the environment significantly. So instead of
conda env create -n .venv -f environment.yml -> mamba env create -n .venv -f environment.yml

Thank you.

[2021-05-04 15:24] fnahuelc opened #73 "Version 0.8 retrieves EnvironmentLocationNotFound"
I get an error when using version 0.8. It doesn't crash when I downgrade to version 0.7.3.
Do I have to configure something different?

Error log:

`
GLOB sdist-make: C:\cd\new workspace\setup.py
py37-32 create: C:\cd\new workspace\.tox\py37-32
py37-32 installcondadeps: pytest
py37-32 installdeps: pytest-print, pytest-mock, tox-conda
ERROR: invocation failed (exit code 1), logfile: C:\cd\new works

[2021-05-04 15:39] brandon-leapyear opened #74 "Version 0.8 breaks conda invocation on Linux"
Running tox in CI shows an error:
[code]
This only happens in CI; locally on Mac with 0.8 works fine.

OS: Debian 8 (Docker image: circleci/python:3.6.3)
miniconda version: 4.3.31

<details>
  <summary>Full output log</summary>
<pre>
$ PATH=/home/circleci/miniconda/bin:$PATH python/tox.sh -edocs -vvvvvv

using tox.ini: /home/circleci/project/python/tox.ini (pid 1517)
  removing /home/circleci/proj

[2021-05-04 15:48] gaborbernat commented on #74
cc @AntoineD

[2021-05-04 15:48] gaborbernat commented on #73
cc @AntoineD

[2021-05-04 15:56] AntoineD commented on #74
The `conda run` command seems [available since conda version 3.6.0 in 2014](https://docs.conda.io/projects/conda/en/latest/release-notes.html#id466).
What is you version of conda?

[2021-05-04 15:59] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

I put it in the description. 4.3.31

[2021-05-04 15:59] AntoineD commented on #73
Could you please provide the output of the tox command with `-v`?
A minimal reproducer would also be helpful.

[2021-05-04 16:01] AntoineD commented on #74
This is probably the version of miniconda, not the conda command line tool.
What gives `conda --version`?

[2021-05-04 16:04] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

[code]

[2021-05-04 16:10] AntoineD commented on #74
What gives `conda --help`?

[2021-05-04 16:12] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

I don't have the CI environment anymore, but on Mac, I get
[code]
I doubt it's the conda CLI interface, since 0.8 works on Mac

[2021-05-04 16:25] AntoineD commented on #74
It looks like the `conda run` command had been removed around conda 4.0.9 ([issue](https://github.com/conda/conda/issues/2904), [issue](https://github.com/conda/conda/issues/2682)) and [put back](https://github.com/conda/conda/pull/7320) somewhere between conda versions 4.6 and 4.7.
It is not clear to me when that happened exactly though ...

[2021-05-04 16:32] fnahuelc commented on #73
Thanks for having a look at it.

Log file with version 0.7.XX

[code]

Log file with version 0.8.XX

[code]

Installation
tox: ```conda install -c conda-forge tox```
tox-conda: ```pip install tox-conda```

tox.ini:
[code]

[2021-05-04 16:47] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

Why does it work on Mac then? `conda run` shouldn't exist on Mac either

[2021-05-04 17:08] AntoineD commented on #74
What is your version of conda on Mac?

[2021-05-04 17:31] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

The same

[2021-05-04 18:50] ailin-nemui commented on #74
fails on github actions:
[code]

[2021-05-04 19:00] AntoineD commented on #74
@ailin-nemui
This looks like to be a different problem, would you mind to create a separate issue please?

[2021-05-04 19:09] ailin-nemui opened #75 "Version 0.8 broken on Github Actions"
fails on github actions:
[code]

conda 4.9.2 seems to be installed in github actions

[2021-05-04 19:19] ailin-nemui commented on #75
for reference the steps from the action.yml
[code]
you can replace 0.7.1 with 0.8.0 to see the problem

[2021-05-04 19:47] AntoineD commented on #73
The log for 0.8 shows that tox seems to use pip instead of conda:
`cmd: 'C:\Users\nahc\Documents\Conda packages\audio_driver\.tox\py37-64\python.EXE' -m pip install pytest-print pytest-mock tox-conda`

It looks like tox-conda is not installed in the same environment as tox.
What gives `conda list` and `pip list` from the environment where tox and tox-conda are installed?

[2021-05-04 19:57] AntoineD commented on #74
@brandon-leapyear
I guess you may have to update your conda.

[2021-05-04 19:59] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

What does it work on Mac but not Linux?

[2021-05-04 20:02] AntoineD commented on #74
I'm sorry but I have no idea and I cannot test on a Mac.

[2021-05-04 20:04] AntoineD commented on #75
Could you provide the log when running tox with `-v` please?

[2021-05-04 20:04] fnahuelc commented on #73
Yes, I also saw that but it seems they are in the same place. And it does work when I downgrade using the same environment.

I have quite a few packages there. Maybe something else is interfering?

<details>
<summary>conda list</summary>

[code]
</details>

<details>
<summary>pip list</summary>

[code]
</details>

[2021-05-04 20:12] AntoineD commented on #73
There are some workarounds in tox-conda that rely tox internals which may have changed since tox 3.12.1.
Does upgrading tox help?

[2021-05-04 20:12] ailin-nemui commented on #75
tox -v:
[code]

[2021-05-04 20:14] ailin-nemui commented on #75
[code]

[2021-05-04 20:19] AntoineD commented on #73
I see this in your env:
[code]
I have no idea if it's related or normal but that looks weird.

[2021-05-04 20:26] AntoineD commented on #75
Can you share you `tox.ini`?

[2021-05-04 20:28] ailin-nemui commented on #75
a part of my tox.ini
[code]

[2021-05-04 20:45] fnahuelc commented on #73
Yes, not sure about it. I will have a look. But I dont think is related.

I just did the following:
* Created an empty conda env
* install with pip both tox and tox-conda. And only those.

Sadly, I got the same error.

Here the lists:

<details>
<summary>conda list</summary>

[code]
</details>

<details>
<summary>pip list</summary>

[code]
</details>

[2021-05-04 20:49] brandon-leapyear commented on #74
:sparkles: _**This is an old work account. Please reference @brandonchinn178 for all future communication**_ :sparkles:

---

well we solved it by pinning `tox-conda` to `< 0.8`. It would be nice if `tox-conda` could specify (at least in README and/or CHANGELOG) what version of miniconda it requires

[2021-05-04 20:51] AntoineD commented on #75
It looks like this is related to `isolated_build = True`.
I will investigate but in the meantime could you try without?

[2021-05-04 20:55] AntoineD commented on #74
Will do once I've figured out which versions of conda provide it!

[2021-05-05 07:35] ailin-nemui commented on #75
[code]

[2021-05-05 08:12] AntoineD commented on #75
That should be fixed when this [PR](https://github.com/tox-dev/tox/pull/2056) is merged.

[2021-05-05 17:05] AntoineD commented on #75
@ailin-nemui
A new version of tox with the fix has been released, you may update to the last version of tox.

[2021-05-07 07:54] AntoineD commented on #74
Closing now the docs has been updated.

[2021-05-07 07:54] #74 closed

[2021-05-12 16:31] mivade opened #78 "Version 0.8 errors before tests can run with conda 4.8.5"
Version 0.8 seems to have some serious issues which prevent me from running tests with conda 4.8.5. I get messages like the following:

[code]

However even if I use `tox -vv` the only place that `--no-capture-output` even shows up is in the error message. I have discovered two workarounds:

1. Downgrade to 0.7
2. Upgrade conda (with 4.10.1 this issue goes away)

To me this seems like a pretty maj

[2021-05-12 17:47] AntoineD commented on #78
I'm sorry about that, I will fix that issue but not before sunday.

[2021-05-14 10:19] ailin-nemui commented on #75
thanks, I can confirm it works with tox  3.23.1

[2021-05-14 12:18] njiles opened #79 "Can't use conditional dependencies?"
Trying to set conditional dependencies using tox with tox-conda causes an error when running tox.

Sample setup:
[code]
with:
- test_example.py
[code]
- pyproject.toml
[code]
- setup.py
[code]
- tox.ini
[code]

Active conda env is python 3.7 with tox installed, but not tox-conda, cryptography, pytest. Output of `conda env export`:
[code]

Output of `tox`:
[code]

This command runs as expected when

[2021-05-17 16:37] #75 closed

[2021-05-17 18:52] AntoineD commented on #79
I can reproduce this issue, I don't know yet how to fix this.
Meanwhile you could use `tox-conda` 0.7.2 or declare your deps with a requirements file.

[2021-05-19 09:21] moux233 opened #80 "Version 0.8 DirectoryNotACondaEnvironmentError"
Hi there

I have an error with tox-conda 0.8 :
DirectoryNotACondaEnvironmentError: The target directory exists, but it is not a conda environment.
Use 'conda create' to convert the directory to a conda environment.
  target directory: G:\07.Git\qrunch\.tox\test

My env :
conda 4.10
python 3.9
tox 3.23

Workaround : downgrading to 0.7.1

Maxime

Full tox output below :

(qdev) G:\07.Git\qrunch>tox

[2021-05-19 11:39] njiles commented on #79
Thank you for the fast reply @AntoineD - I can confirm that using tox-conda 0.7.2 fixes the issue (to be clear, by specifiying `requires = tox-conda==0.7.2` under `[tox]` in tox.ini)

[2021-05-20 08:12] moux233 commented on #80
I also use tox-wheel 0.6

[2021-05-20 16:20] ahgraber commented on #46
Is there any way to monkey-patch the existing code, even if it doesn't make it into tox-conda?

[2021-05-22 05:39] AntoineD commented on #78
@mivade
Removing `--no-capture-output` breaks several tests of tox-conda.
The changes I proposed in tox-conda 0.8 are not perfect and this will be fixed when this plugin will be rewritten with the [release of tox 4](https://github.com/tox-dev/tox/tree/rewrite).

Meanwhile you may use your workaround and I will fix in the readme the minimum required version of conda.

The conda release note states

[2021-05-22 05:57] AntoineD commented on #80
It may be a side effect with tox-wheel.
Could you provide the same output with tox-conda 0.7.2?

[2021-05-22 06:04] AntoineD commented on #79
There are several open issues related to `conda run` not properly escaping quotes on the conda project.
Unfortunately I do not know how to fix this currently, this will be addressed when tox-conda will be rewritten with the release of [tox 4](https://github.com/tox-dev/tox/tree/rewrite).

[2021-05-22 06:04] #79 closed

[2021-05-24 14:59] mivade commented on #78
It does appear to work if I force pull the newest `continuumio/miniconda3` image. Maybe the issues we were experiencing was related to caching of older Docker images.

I'm happy to consider this resolved if the README gets updated (it actually currently states that `--no-capture-output` was added in 4.6.0 which appears to be incorrect).

[2021-05-25 15:02] AntoineD commented on #50
@marlonjames and @ppoilbarbe
`tox-conda` 0.8 should address this kind of issues (although not perfectly), you may give it a try.

[2021-05-25 15:40] Choc13 commented on #45
I've moved on from the project that was using tox-conda now and no longer use Python in my day job so I'm not really in a position to test this. Maybe @jondye could though?

[2021-05-25 21:01] saimn commented on #64
It seems to work, though I cannot test with the same environment, and have other (unrelated) issues with a new one.

[2021-05-28 20:15] AntoineD commented on #78
The README has been updated.

[2021-05-28 20:15] #78 closed

[2021-05-28 20:25] mivade commented on #78
Thanks!

[2021-06-01 20:54] kesmit13 commented on #50
I'm using 0.8, but I'm still seeing behavior that I think is related to this on Windows.  I believe that numpy 1.20 changed the way that they load DLLs and it falls apart if the PATH variable isn't setup properly to find them. The output below is what I get if I run tox-conda (or if I try to run `import numpy` from a non-activated conda env). If I do `conda activate` then do `import numpy`, it wor

[2021-06-01 21:47] marlonjames commented on #50
Yeah, I'm not convinced that `conda run` is the full answer. As far as I understand it is still considered Experimental.

[2021-06-01 23:05] kesmit13 commented on #50
Does anyone have a work around (hack or otherwise)? This is a major holdup in one of my projects. I tried using the `setenv` trick from the original post, but that didn't work for me.

[2021-06-02 12:16] AntoineD commented on #50
@kesmit13 The following works for me, does it for you?
[code]
where `t.py` contains `import numpy`.

[2021-06-02 13:45] kesmit13 commented on #50
@AntoineD That does work for me, but for some reason environments like that don't work in Jenkins as seen above. I'm not sure what the difference is though.

[2021-06-02 14:04] AntoineD commented on #50
Sorry I do not use Jenkins, I do not know how to help you.

[2021-06-10 15:34] kesmit13 commented on #50
I started digging into this some more. I'm still not sure why it isn't working on Windows, but I did an update of the tox package and the `setenv` workaround from the original post started working for me.

[2021-07-06 01:38] lmmx commented on #75
Same bug here with 3.23.1, including after removing `isolated_build = true` https://github.com/lmmx/range-streams/runs/2994644992?check_suite_focus=true#step:5:81 Should I open a new issue or continue here?

[2021-08-13 12:11] fknuth opened #92 "conda run not used in subsequent tox runs"
Version 0.8 has introduced that commands are run with `conda run` which is a nice improvement. However, I realized that this only happens while the conda environment is created. On subsequent tox runs when the already created environment is used, this is not anymore the case.

I created a patch which uses the `tox_runtest_pre` hook. How can I present this patch for review? Do you work with forks o

[2021-08-13 12:20] AntoineD commented on #92
This is not the expected behavior, all the commands shall run in a anaconda environment, this is [tested here](https://github.com/tox-dev/tox-conda/blob/master/tests/test_conda.py#L28).

Could you please explain a bit more what happens?

[2021-08-13 21:18] fknuth commented on #92
Yes, the command execution is tested there but only while the conda environment is created and the hook for [`tox_testenv_create`](https://github.com/tox-dev/tox-conda/blob/master/tox_conda/plugin.py#L146) is executed which sets the `CondaRunWrapper`. However, when the conda environment is already created and tox reuses it in a subsequent run, `tox_testenv_create` is not executed and `CondaRunWrap

[2021-08-18 08:11] #92 closed

[2021-08-19 11:43] AntoineD commented on #73
@fnahuelc could you try version 0.8.1?

[2021-08-19 11:44] AntoineD commented on #64
@saimn 0.8.1 has a fix for isolated build, you may give it a try.

[2021-08-19 11:45] #50 closed

[2021-08-19 11:50] AntoineD commented on #45
@jondye 0.8.1 has a fix for isolated build, you may give it a try.

[2021-08-19 11:54] AntoineD commented on #27
No update from author: closing.

[2021-08-19 11:54] #27 closed

[2021-08-19 11:55] AntoineD commented on #11
@drdavella could you elaborate a bit more please?

[2021-08-19 11:56] AntoineD commented on #23
That's the expected behavior.

[2021-08-19 11:56] #23 closed

[2021-08-19 11:58] AntoineD commented on #9
Closing since `tox-conda` CI supports Windows.

[2021-08-19 11:58] #9 closed

[2021-08-19 12:01] AntoineD commented on #47
No update from author: closing.

[2021-08-19 12:01] #47 closed

[2021-08-19 12:03] AntoineD commented on #36
@gaborbernat will tox 4 support this kind of feature? (not limited to conda only)

[2021-08-19 12:18] gaborbernat commented on #36
Yes 👍 see https://tox.readthedocs.io/en/rewrite/config.html#runner, which defaults to `virtualenv` but may be changed.

[2021-08-19 16:35] drdavella commented on #11
Hi! Sorry for the lack of detail here. I can't quite remember but I think the idea was to make `pip install tox-conda` also install `conda`. But I'd be fine with closing this ticket.

[2021-08-20 14:13] #11 closed

[2021-08-20 14:16] AntoineD commented on #92
@fknuth Thanks for letting us know, you may give a try to the version 0.8.1 which has a fix for this.

[2021-08-21 16:53] fknuth commented on #92
@AntoineD Thank you very much for the quick fix and release. It is working as expected now.

[2021-08-31 23:01] chrisjsewell opened #95 "Propogate `setenv` to conda env vars"
With conda you can do: `conda env config vars set MYVAR=1`, to have the variable set every time you initialise that environment.

It would be nice if `conda-tox` could use this, to add the variables specified in the `setenv` tox env config to the conda env.

This would be useful if I want to step into the conda env manually, to check some things out

[2021-09-01 08:45] corrado9999 commented on #46
Digging into the code, I found out it honours the environmental variable `CONDA_EXE`, so you can run tox like this:

[code]

Of course you need to install mamba in the environment running tox by yourself.

[2021-09-01 17:12] AntoineD commented on #46
@corrado9999 Nice! I'll add this info to the README.

[2021-09-02 08:42] AntoineD commented on #46
Closing since the README has been updated.

[2021-09-02 08:42] #46 closed

[2021-10-31 12:56] abravalheri commented on #36
Hi guys, is there any example on how to use the `runner` option to achieve something similar to this?

I had a look on the docs, but I couldn't figure out what the value assigned to `runner` is...

(e.g.: is `runner` supposed to be the name of a CLI script that builds a virtual environment? An entry point that follows the same API as `tox.tox_env.runner.RunToxEnv`?)

[2021-10-31 12:57] gaborbernat commented on #36
It's an entry point 🤞

[2021-11-05 15:40] JulienGrv opened #105 "Add support for Python 3.10"
The current regex cannot parse py310 correctly, resulting in python=3.1.0 instead of python=3.10

[2021-11-05 20:53] JulianOrteil commented on #105
Also encountering this. Trying py3.10 (like py2.7) installs python 3.9??

[2021-11-08 19:09] SimonBin opened #108 "Crashes with AttributeError: 'TestenvConfig' object has no attribute 'conda_exe'"
If tox and tox-conda are installed,

this config
[code]
crashes with
[code]

instead of self-provisioning a working tox env

[2021-11-09 09:20] #105 closed

[2021-11-21 07:33] probinso commented on #108
I have this same problem

[2021-11-21 21:11] AntoineD commented on #108
I cannot reproduce it:
[code]

Please provide more context.

[2021-11-21 21:16] AntoineD commented on #80
No update from author: closing.

[2021-11-21 21:16] #80 closed

[2021-11-21 21:16] AntoineD commented on #73
No update from author: closing.

[2021-11-21 21:16] #73 closed

[2021-11-21 21:16] AntoineD commented on #64
No update from author: closing.

[2021-11-21 21:16] #64 closed

[2021-11-21 21:17] AntoineD commented on #45
No update from author: closing.

[2021-11-21 21:17] #45 closed

[2021-11-21 21:17] SimonBin commented on #108
setup.py and tox.ini as yours

[code]
(error appears)

[2021-11-21 21:17] AntoineD commented on #37
No update from author: closing.

[2021-11-21 21:17] #37 closed

[2021-11-21 21:20] AntoineD commented on #30
Is there still an issue with the latest versions of tox and tox-conda?

[2021-11-21 21:22] AntoineD commented on #108
Thank you, I can reproduce it now.

[2021-11-21 21:28] AntoineD commented on #108
Meanwhile, just install `tox` (no `tox-conda`) in your anaconda environment:
[code]

[2021-11-22 08:32] joaomcteixeira commented on #30
I don't know. I am just using `tox-conda` with linux right now. What I did change a lot in the last months is that I migrated all my CIs to GitHub Actions, and dropped Travis and AppVeyor.

[2021-11-22 08:41] AntoineD commented on #30
Thanks for the update @joaomcteixeira!

[2021-11-23 15:58] chrisjsewell commented on #105
Thanks for the fix, sorry for being impatient, but would be nice to get this in a release 😉

[2021-11-23 19:00] AntoineD commented on #105
@chrisjsewell The new version 0.8.4 is available now.

[2021-11-23 19:09] chrisjsewell commented on #105
yep that all works now, thanks!

[2021-12-14 20:34] AntoineD commented on #30
No news from the initial author, closing.

[2021-12-14 20:34] #30 closed

[2021-12-14 20:36] AntoineD commented on #10
Not sure what the issue was, closing for now.

[2021-12-14 20:36] #10 closed

[2021-12-15 18:45] WeatherGod opened #115 "v0.9.0 seems to break tox"
Not exactly sure what is going on, but it seems like the environment activation is going haywire. A snippet of my output with `-vvv`.

[code]

Downgrading to v0.8.4 makes everything work as it has before.

[2021-12-15 19:37] AntoineD commented on #115
Could you please provide a reproducer?

[2021-12-15 19:41] WeatherGod commented on #115
I can try. I am actually not terribly familiar with tox or tox-conda. I only noticed this because the CI/CD of our project broke today, and I didn't set any of this up. I guess you would want a `tox.ini` and a conda environment file, right?

[2021-12-15 19:43] AntoineD commented on #115
Yes let's start with your `tox.ini` and the output of `conda info --all`.

[2021-12-15 20:00] WeatherGod commented on #115
Well, I made a minimized version of that:

[code]

This was done in a fairly clean conda environment (the base one, I pip-installed tox and tox-conda today in it).

[code]

(Yes, it succeeded, only because the command was an "echo" command instead of a usual pytest. In my actual tests, a bunch of the fiona and gdal calls are failing because the package activation scripts weren't sourced, as noted

[2021-12-15 20:08] WeatherGod commented on #115
This is weird... how is stuff like this in my log?
[code]
I am on a linux system, not a mac.

[2021-12-15 20:16] WeatherGod commented on #115
In case it is relevant,

[code]

[2021-12-15 20:21] AntoineD commented on #115
`conda info --all` is relevant.

[2021-12-15 20:33] WeatherGod commented on #115
[code]

Snipped out possibly sensitive information such as my other environments, user id, and parts of my PATH.

[2021-12-15 21:24] AntoineD commented on #115
Thank you, I am able to reproduce it and a fix is coming.

[2021-12-15 21:40] WeatherGod commented on #115
Thank you for your prompt response on this!

[2021-12-17 14:14] joaomcteixeira opened #117 "v0.9.0 broke my CI , needed to revert to 0.8.4"
Hi folks,
First of all, thanks so much for your amazing software.

Today, I got completely puzzled because my CI stop working with tox giving me this error:

`/tmp/tmpo4js6lp2: 1: export: .: bad variable name` , you can see it [here](https://github.com/joaomcteixeira/taurenmd/runs/4560478421?check_suite_focus=true) in the github actions.

I needed to go dep by dep looking for which one of it had b

[2021-12-19 21:20] AntoineD commented on #117
Duplicate of #115.

[2021-12-19 21:20] #117 closed

[2022-01-28 15:29] rsokl opened #119 "[Windows] tox-conda 0.8.0 and beyond breaks when space present in activation path"
For `tox-conda==0.7.3` I have no issue.

For `tox-conda==0.8.0` I get:

[code]

For `tox-conda==0.9.1` I get:
[code]

[2022-01-28 22:20] #115 closed

[2022-01-30 18:03] #119 closed

[2022-01-30 20:43] AntoineD commented on #119
HI @rsokl, this has been fixed in `0.9.2`.

[2022-01-31 20:39] rsokl commented on #119
Awesome, thank you!

[2022-02-15 13:06] mparry opened #122 "tox-conda doesn't respect tox verbosity"
If I write `tox -vv -e test` with some `conda_deps` configured then I would expect this part from the `tox` docs to apply:

It doesn't; the `conda` or `mamba` output goes to a log regardless:

[code]

I believe this is because the calls to `venv._pcall()` are not specifying a parameter along the lines of

[code]

as `tox.venv.run_install_command()` does, for example.

Is this deliberate? If not, I

[2022-02-15 15:12] AntoineD commented on #122
I do not think this is deliberate, so feel free to provide a PR! :smiley:

[2022-02-23 20:05] moux233 opened #123 "Python 3.10 test env"
Hello and thank you for maintaining tox-conda.
I cannot get tox-conda to create a python 3.10. It tries to create a python 3.1 env instead.

I get the following error :
ERROR: FAIL could not package project - v = InvocationError("'C:\\Users\\maxime_rattier\\Miniconda3\\Scripts\\conda.exe' create --yes -p 'C:\\Users\\maxime_rattier\\Documents\\10.Sources\\umixapi\\.tox\\py310-test' python=3.1", 1)

[2022-02-23 21:11] AntoineD commented on #123
There has been a [fix](https://github.com/tox-dev/tox-conda/commit/978da65bc74f4613c140ff277c52563cd17149a8) for this some months ago, which version of tox-conda are you using?

[2022-02-24 08:06] moux233 commented on #123
Sorry you are right I got stuck with an older version.

[2022-02-24 08:06] #123 closed

[2022-02-24 08:06] moux233 commented on #123
Closing.

[2022-03-22 15:15] mparry opened #125 "Bug in handling of three component basepython"
If you specify `basepython = 3.8.10` or similar then you get the same problem as #105, except now for the patch version - i.e. #106 should have made the patch component use `\d+` too, I think!

[2022-03-28 13:37] H0R5E commented on #108
I also note that the pip version set in `requires` is not respected.

[code]

[2022-03-28 17:46] AntoineD commented on #108
I think that [requires](https://tox.wiki/en/latest/config.html#conf-requires) refers to the packages installed in the provisional environment from where tox is executed from, and not to the environments from where the commands are executed.
@gaborbernat Is is correct?

[2022-04-19 08:41] #122 closed

[2022-07-18 08:10] #125 closed

[2022-07-18 08:11] AntoineD commented on #125
Fixed in #127

[2022-08-18 15:01] rupertcw opened #140 "tox + tox-conda + filelock=3.8 fail to install dependencies"
Linking issue started in [filelock](https://github.com/tox-dev/py-filelock/issues/163#issue-1342882014)

[2022-10-16 17:57] AntoineD commented on #140
How could I reproduce this?

[2022-10-17 08:37] rupertcw commented on #140
Conda environment:
`conda install --freeze-installed --channel conda-forge "tox" -y`

Tox ini:
[code]

Start the tests:
`conda run tox`

Expected output:
[code]

Downgrading `filelock` fixes the issue:
`conda install --freeze-installed --channel conda-forge "filelock=3.7" "tox" -y`

This happened on an AWS CodeBuild Linux machine

[2022-10-17 09:28] AntoineD commented on #140
Thank you, what is in your`env.yaml`?

[2022-10-17 09:33] rupertcw commented on #140
env.yaml
[code]

[2022-10-17 09:57] AntoineD commented on #140
I cannot reproduce it, here is what I've done:

1. `conda create -p /tmp/toxenv -y` since I do not want to pollute my base anaconda env
2. `conda activate /tmp/bug/toxenv`
3. `conda install --freeze-installed --channel conda-forge "tox" -y`
4. `conda deactivate`
5. `conda run -p /tmp/bug/toxenv tox`

The  output is:
[code]

[2022-10-17 11:57] rupertcw commented on #140
The only other thing I can provide is that we are using `Miniconda 4.11.0`

[2022-10-29 17:07] tobiasraabe opened #143 "Behavior for relative paths in `environment.yml` changed."
Hi,

thanks for the package! Unfortunately, the new release broke my setup. The folder structure looks roughly like this

[code]

I use `rtd_environment.yml` in my `tox.ini` to create the environment for the documentation. The env file contains a pip section to install the package from the repo.

[code]

With v0.10.0 the pip command fails. It says the directory does not contain a `setup.py` or `py

[2022-10-29 17:39] AntoineD commented on #143
@AdrianFreundQC would you mind to have a look? May be the python package should not be appended blindly to the yaml?

[2022-10-31 10:01] AdrianFreundQC commented on #143
The problem is probably that the new version creates a temporary environment file with python appended that gets placed in the system temp directory. Because the temporary env file is in a different directory the relative paths break. Should be an easy fix by placing the temporary env in the directory the original env was in.

I'll create a PR.

[2022-11-01 14:46] #143 closed

[2022-11-02 17:08] ifiddes opened #146 "use x86 when building environments on M1 macbook?"
There is plenty of [documentation](https://towardsdatascience.com/how-to-manage-conda-environments-on-an-apple-silicon-m1-mac-1e29cb3bad12) on how to use aliases to build conda environments on an M1 to be able to use x86-only tools. However, when I run `tox-conda` on an M1 macbook it uses the default conda build, which means I can't run tests whose environments require x86-only tools.

Is there a

[2022-11-03 16:57] AntoineD commented on #146
Unfortunately I do not have access to such a Mac for testing.

Have you tried to just set `CONDA_SUBDIR=osx-64` from the shell that runs `tox`?

You may also try to set the following in `tox.ini`, with the proper `channel-name`:
[code]

[2022-11-07 05:40] chuber1986 opened #147 "Ambiguous Python version"
When the `environment.yaml` specifies a Python version that contradicts with the Python version of the new tox test envronment, the environment creation fails. The error does not occur when the conda environment doesn't specify a version.

E.g. `environment.yaml`:
[code]

`tox.ini`:
[code]

tox output:
[code]

[2022-11-07 07:55] AntoineD commented on #147
This is the expected behavior since version `0.10.0`, from the readme:

[2022-11-07 07:57] chuber1986 commented on #147
I see. Thanks for the fast response!
Sorry for bothering.

[2022-11-07 07:57] #147 closed

[2022-11-26 00:16] capn-freako opened #149 "conda_deps packages being overwritten with PyPi equivalents."
I have the following `tox.ini` file:

[code]

But, after I run: `tox -e py38 -r`, I find that I have _PyPi_ versions of: `scikit-rf`, `numpy`, and `scipy`, installed in the test environment:

[code]

I see my `conda_deps` in the log:

[code]

Why are they being overwritten with _Pip_ / _PyPi_ equivalents?

[2022-11-26 08:21] AntoineD commented on #149
This is because you have pinned the version of those dependencies in `pyproject.toml` and if these are not satisfied when conda installs them from `conda_deps` then they are overridden by `pip` when your package is installed.

[2022-11-26 14:17] capn-freako commented on #149
Thank you, @AntoineD !
Is there anywhere in the log where I'm alerted that `conda` failed to install the requested versions and that `pip` will be saving the day?

[2022-11-26 15:25] AntoineD commented on #149
`conda` ignores the dependencies defined in packaging descriptions for `pip` like `pyproject.toml`, you may see that those dependencies have been installed twice by adding `-v` to the `tox` command line.

If you intend to create a `pip` installable package , you do not need `conda` here.
If you need to use `conda` anyway, then you may use the very same version pinning in `tox.ini` as they appear i

[2022-11-26 15:57] capn-freako commented on #149
Thanks, @AntoineD !

Using a freshly deleted and recreated `.tox/py38/` environment, I tried the following experiment, which I expected to fail:

`$ conda install -c defaults -c conda-forge --override-channels python=3.8 numpy==1.23.3 scipy==1.9.2 scikit-rf==0.24.1
`

But, it succeeded!

So, I continued on with: `tox -e py38`. (Note the missing `-r` option.):

[code]

**Note the missing `--no-deps

[2022-11-26 20:13] capn-freako commented on #149
That worked!
Thank you. :)

[2022-11-26 20:13] #149 closed